.header {
    display: flex;
    justify-content: space-between;
    background: black;
}

.header-inpu-search {
    width: 350px;
    height: 50px;
}

.nav-list {
    display: flex;
}

.nav-item {
    text-decoration: none;
    margin-right: 30px;
    color: white;
}