.header {
    display: flex;
    justify-content: space-between;
    background: black;
}

.header-logo {
    margin: 10px;
}

.header-inpu-search {
    width: 450px;
    height: 45px;
    margin: 10px;
}

.nav-list {
    display: flex;
}

.nav-item {
    text-decoration: none;
    margin-right: 30px;
    color: white;
}