.content {
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
}

.content-h {
    margin: 0 auto;
}

.button-form {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 3px;
    border-color: darkgray;
    background: gainsboro;
}

.button-email {
    margin: 0 auto;
    border: none;
    background: white;
    color: blue;
}