.form {
    width: 40%;
    align-items: center;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    margin: 30px 0;
}

.form-content {
    margin-bottom: 25px;
}

.form-span {
    font-weight: bold;
}

.form-input-text {
    width: 100%;
    height: 35px;
}

.form-button-submit {
    width: 100%;
    margin-top: 50px;
    font-size: 17px;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 3px;
    background: orangered;
    cursor: pointer;
}

.form-a-register {
    text-decoration: none;
    margin: 0 auto;
}