.form {
    width: 70%;
    align-items: center;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content-item, .pay, .address {
    width: 60%;
}

.table, .button {
    width: 40%;
}

.button-submit {
    font-size: 17px;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 3px;
    background: orangered;
    cursor: pointer;
}
