.form {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.content-item, .pay, .address {
    width: 55%;
    border-bottom: 1px solid darkgray;
}

.table, .button {
    width: 40%;
}

.table-tr {
    border: 2px solid black;
}

.table-th, .table-td {
    padding: 20px;
}

.pay-item {
    font-weight: bold;
    margin-left: 20px;
}

.pay-select {
    margin-left: 50px;
    margin-bottom: 25px;
}

.address-content {
    display: flex;
    justify-content: space-between;
}

.button-submit {
    width: 100%;
    font-size: 17px;
    padding: 10px 0;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 3px;
    background: orangered;
    cursor: pointer;
}

.address-item {
    font-weight: bold;
    margin-left: 20px;
}

.address-a-nav {
    text-decoration: none;
    margin-right: 20px;
}

.address-in {
    margin-left: 50px;
    margin-bottom: 25px;
}
