.content {
    width: 40%;
    align-items: center;
    margin: 0 auto;
}

.title-logo {
    text-align: center;
    margin: 20px 0;
}

.form-content {
    margin-bottom: 25px;
}

.form-input-text {
    width: 100%;
}

.form-button-submit {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 3px;
    background: orangered;
    cursor: pointer;
}

.form-a-login {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}