.content {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
}

.content-h {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.content-a {
    display: flex;
    justify-content: center;
}