.content {
    width: 80%;
    justify-content: center;
    align-items: center;
}

.title-logo {
    text-align: center;
    margin: 20px 0;
}

.form-content {
    margin-bottom: 10px;
}

.form-input-text {
    width: 100%;
}

.form-button-submit {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    color: white;
    background: orangered;
    cursor: pointer;
}

.form-a-login {
    text-align: center;
    text-decoration: none;
    margin: 20px;
}